<router-outlet></router-outlet>

<div class="employee-list-container" *ngIf="navigatedAway">

  <!-- Employee list title -->
  <div class="employee-list-title">
    <h1>Employee List</h1>
  </div>

  <!-- Employees -->
  <div class="employee-line" *ngFor="let e of employees">
    <div class="employee-name">
      <div class="first">{{e.firstName}}</div>
      <div class="last">{{e.lastName}}</div>
    </div>
    <div class="position">{{e.position}}</div>
    <button class="view-button" routerLink="/employee-details" [state]="{data: e}" >View</button>
  </div>

</div>
